.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.marker{
  visibility: hidden;
}

.key{
  margin-left: 0px;
}

.key {
    display: inline-block;
    overflow-wrap: break-word;
}

.key img {
    width: 20px;
    height: auto;
    padding-right: 0.3rem;
}

.key p {
    padding-right: 1rem;
    display: inline;
}

@media (max-width: 700px) {
    .mapboxgl-ctrl-zoom-in, .mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-compass {
        display: none !important;
    }
}

.mapboxgl-map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
}