.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/*.marker{*/
  /*visibility: hidden;*/
/*}*/

.key{
  margin-left: 0px;
}

.key {
    display: inline-block;
    overflow-wrap: break-word;
}

.key img {
    width: 20px;
    height: auto;
    padding-right: 0.3rem;
}

.key p {
    padding-right: 1rem;
    display: inline;
}

@media (max-width: 700px) {
    .mapboxgl-ctrl-zoom-in, .mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-compass {
        display: none !important;
    }
}

.mapboxgl-map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 60vh;
}

.mapboxgl-popup {
    opacity: 0.95;
    z-index: 501;
}

.mapboxgl-popup-content {
    box-shadow: -1px 0px 16px -4px rgba(189,189,189,1);
}

div.map-cont-controls {

    pointer-events: none;
    white-space: nowrap;
}

.map-slider-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch
}
.map-slider-item {
  flex: 0 1 auto;
  margin: 10px;
}

/*@media only screen and (max-width: 600px) {*/
    div.map-cont-controls {
        padding: 4px 0 4px 0;
    }
/*}*/

/*@media only screen and (min-width: 600px) {*/
    div.map-cont-controls {
        padding: 4px 6px 0 6px;
        background: white;
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 500;
        width: 30%;
        min-width: 220px;
        border-radius: 6px;
        box-shadow: -1px 0px 16px -4px rgba(189,189,189,1);
    }
/*}*/

.rainbow-text {
    /* https://w3bits.com/rainbow-text/ */
    /* rgb(157, 113, 234), #00c177, #ff603c, #c11700  */
    background-image: linear-gradient(to left, #bd7171, #0075bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

code {
    background-color: lightyellow;
    padding: 2px;
    color: black;
    font-size: 1em;
    font-family: monospace;
    border: 1px dashed #ddd;
    white-space: nowrap;
}