.tag {
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #f2f4f4;
  display: inline-block;
  text-align: center;
  color: #888;
  flex: 1;
  width: 100%;
  
}

.number {
  font-size: 1.2rem;
  font-weight: 600;

}


@media only screen and (min-width: 768px) and (orientation: portrait){
  .number {
    font-size: 2.3rem
  }
}