.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.key{
  margin-left: 0px;
}

.key {
    display: inline-block;
    overflow-wrap: break-word;
}

.key img {
    width: 20px;
    height: auto;
    padding-right: 0.3rem;
}

.key p {
    padding-right: 1rem;
    display: inline;
}
